.DS_Store
CareDemo-web/gwt-unitCache
CareDemo-web/war/caredemo
CareDemo-web/war/forgot
CareDemo-web/war/home
CareDemo-web/war/profile
CareDemo-iOS/Build
CareDemo-iOS/CareDemo.xcodeproj/project.xcworkspace/xcuserdata
CareDemo-iOS/CareDemo.xcodeproj/xcuserdata
CareDemo-web/src/com/chaosinmotion/caredemo/server/config/database_private.properties
