/** Add css rules here for your application. */


body {
	padding: 0px;
	margin: 0px;
}

.heading {
	font-size: 17px;
	color: #6c6c6c;
	font-family: Helvetica, sans-serif;
}

.rowheader {
	color: #a3a3a3;
	font-size: 14px;
	font-family: Helvetica, sans-serif;
}

.insettable {
	padding: 15px;
}

.rowcontent {
	font-size: 17px;
	font-family: Helvetica, sans-serif;
}

.messageBox {
	border-left-width: 1px;
	border-bottom-width: 2px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-color: #6c6c6c;
	border-style: solid;
	background-color: #fffefe;
}

.messageBox .Caption {
	border-width: 100%;
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 4px;
	padding-top: 4px;
	color: #a3a3a3;
	font-size: 17px;
	font-family: Helvetica, sans-serif;
}

.messageBox .dialogContent {
	border-top-color: #b1b1b1;
	border-top-style: solid;
	border-top-width: 1px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
}

.barbutton {
	
}

.graySmallText {
	color: #a3a3a3;
	font-size: 10px;
	font-family: Helvetica, sans-serif;
}

.grayLargeText {
	color: #6c6c6c;
	font-size: 17px;
	font-family: Helvetica, sans-serif;
}

.mediumText {
	color: #878787;
	font-size: 15px;
	font-family: Helvetica, sans-serif;
}

.titlebar {
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-top: 5px;
	margin: 0px;
	background-color: #e5eaee;
}

.titletext {
	color: #6c6c6c;
	font-size: 20px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

.barbutton {
	font-size: 12px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	color: #4e7bb1;
	padding: 5px;
	cursor: pointer;
}

.dialoglabel {
	color: #6c6c6c;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
}

.dialogtextbox {
	padding: 4px;
	width: 95%;
	color: #6c6c6c;
	font-size: 14px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

.dialogcheckbox {
	color: #878787;
	padding-bottom: 4px;
	padding-top: 4px;
	font-size: 14px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}
